In [1]:
import pandas as pd
import json
from shapely.geometry import shape, Point
from ast import literal_eval

data = pd.read_csv('./NYPD_Complaint_Data_Historic.csv')
df_merged = pd.read_csv('./merged.csv')

//anaconda/envs/hw6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
//anaconda/envs/hw6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df = pd.read_csv('./NYPD_Motor_Vehicle_Collisions.csv')

//anaconda/envs/hw6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/30/2017,0:00,BRONX,10453,40.854763,-73.907650,"(40.854763, -73.90765)",WEST 180 STREET,DAVIDSON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3659828,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1,04/30/2017,0:00,BRONX,10472,40.831140,-73.879776,"(40.83114, -73.879776)",ELDER AVENUE,EAST 172 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3660631,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
2,04/30/2017,0:00,MANHATTAN,10019,40.761208,-73.985530,"(40.761208, -73.98553)",NaN,NaN,254 WEST 49 STREET,...,NaN,NaN,NaN,NaN,3660796,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
3,04/30/2017,0:00,NaN,NaN,40.792244,-73.946290,"(40.792244, -73.94629)",EAST 106 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3661216,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
4,04/30/2017,0:00,NaN,NaN,40.862680,-73.909050,"(40.86268, -73.90905)",SEDGWICK AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3660395,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN

In [25]:
combine = pd.DataFrame(index=None)
combine['Freq_Colli'] = df.groupby(['ZIP CODE'])['ZIP CODE'].count()

In [26]:
combine['Freq_Crime'] = df_merged.groupby(['Zipcode'])['Zipcode'].count()

In [40]:
combine.index.type = int

In [44]:
for i in range(len(combine)):
    try:
        combine['Freq_Crime'][i] = int(combine['Freq_Crime'][i])
    except ValueError:
        pass

//anaconda/envs/hw6/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [46]:
combine.to_csv('combine.csv')

In [47]:
combine.head()

          Freq_Colli  Freq_Crime
ZIP CODE
10000.0           92         NaN
10001.0         4737     75590.0
10002.0         4052     52297.0
10003.0         2920     54137.0
10004.0          651      4323.0