### Column 19 - X-coordinate
Code: ***column19_data_quality.py ***
This code is used to return the data line by line. 
The code checks if the X-coordinate is an integer and if it is in New York City.
type: X-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104).

Code: ***column19_data_summary.py ***
This code is used to return a summary of all data.
There is no INVALID data in our dataset although some of them are NaN.

In [20]:
pd.read_table('column19_data_quality.out', header = -1).head()

,0,1,2,3
0,1007314.0,INTEGER,X-coordinate for New York State Plane Coordina...,VALID
1,1043991.0,INTEGER,X-coordinate for New York State Plane Coordina...,VALID
2,999463.0,INTEGER,X-coordinate for New York State Plane Coordina...,VALID
3,1060183.0,INTEGER,X-coordinate for New York State Plane Coordina...,VALID
4,987606.0,INTEGER,X-coordinate for New York State Plane Coordina...,VALID

In [21]:
pd.read_table('column19_data_summary.out', header=-1)

       0        1
0  VALID  4913085
1    NaN   188146

### Column 20 - Y-coordinate
Code: ***column20_data_quality.py ***
This code is used to return the data line by line. 
The code checks if the Y-coordinate is an integer and if it is in New York City.
type: Y-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104).

Code:*** column20_data_summary.py ***
This code is used to return a summary of all data.
There is no INVALID data in our dataset although some of them are NaN.

In [15]:
pd.read_table('column20_data_quality.out', header = -1).head()

          0        1                                                  2      3
0  241257.0  INTEGER  Y-coordinate for New York State Plane Coordina...  VALID
1  193406.0  INTEGER  Y-coordinate for New York State Plane Coordina...  VALID
2  231690.0  INTEGER  Y-coordinate for New York State Plane Coordina...  VALID
3  177862.0  INTEGER  Y-coordinate for New York State Plane Coordina...  VALID
4  208148.0  INTEGER  Y-coordinate for New York State Plane Coordina...  VALID

In [7]:
pd.read_table('column20_data_summary.out', header = -1)

       0        1
0  VALID  4913085
1    NaN   188146

### Column 21 - Latitude
Code: ***column21_data_quality.py ***
This code is used to return the data line by line. 
The code checks if the Latitude is an float and if it is valid in New York City.
type: Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326) 

Code: ***column21_data_summary.py ***
This code is used to return a summary of all data.
There is no INVALID data in our dataset although some of them are NaN.

In [16]:
pd.read_table('column21_data_quality.out', header = -1).head()

           0        1                                      2      3
0  40.828848  DECIMAL  Latitude for Global Coordinate System  VALID
1  40.697338  DECIMAL  Latitude for Global Coordinate System  VALID
2  40.802607  DECIMAL  Latitude for Global Coordinate System  VALID
3  40.654549  DECIMAL  Latitude for Global Coordinate System  VALID
4  40.738002  DECIMAL  Latitude for Global Coordinate System  VALID

In [9]:
pd.read_table('column21_data_summary.out', header = -1)

       0        1
0  VALID  4913085
1    NaN   188146

### Column 22 - Longitud
Code: ***column22_data_quality.py ***
This code is used to return the data line by line. 
The code checks if the Longitude is an float and if it is valid in New York City.
type: Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326) 

Code: ***column22_data_summary.py ***
This code is used to return a summary of all data.
There is no INVALID data in our dataset although some of them are NaN.

In [17]:
pd.read_table('column22_data_quality.out', header = -1).head()

           0        1                                       2      3
0 -73.916661  DECIMAL  Longitude for Global Coordinate System  VALID
1 -73.784557  DECIMAL  Longitude for Global Coordinate System  VALID
2 -73.945052  DECIMAL  Longitude for Global Coordinate System  VALID
3 -73.726339  DECIMAL  Longitude for Global Coordinate System  VALID
4 -73.987891  DECIMAL  Longitude for Global Coordinate System  VALID

In [11]:
pd.read_table('column22_data_summary.out', header = -1)

       0        1
0  VALID  4913085
1    NaN   188146

### Column 23 - Location
Code: ***column23_data_quality.py ***
This code is used to return the data line by line. 
The code checks if the latitude and longitude is an float and if it is valid in New York City.
type: (Latitude, Longitude) coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326) 

Code: ***column23_data_summary.py ***
This code is used to return a summary of all data.
There is no INVALID data in our dataset although some of them are NaN.

In [18]:
pd.read_table('column23_data_quality.out', header = -1).head()

,0,1,2,3
0,"(40.828848333, -73.916661142)",DECIMAL,Location for Global Coordinate System,VALID
1,"(40.697338138, -73.784556739)",DECIMAL,Location for Global Coordinate System,VALID
2,"(40.802606608, -73.945051911)",DECIMAL,Location for Global Coordinate System,VALID
3,"(40.654549444, -73.726338791)",DECIMAL,Location for Global Coordinate System,VALID
4,"(40.7380024, -73.98789129)",DECIMAL,Location for Global Coordinate System,VALID

In [13]:
pd.read_table('column23_data_summary.out', header = -1)

       0        1
0  VALID  4913085
1    NaN   188146