In [1]:
import pandas as pd
import numpy as np

@Author: Yaohan Ke (yk1587)

## Data Quality

### Column 6 - Offense Classification Code

Code: ***column6_data_quality.py*** 
This code is used to return the data line by line. 
The code checks if the offense classification codes are three digit integers.

In [2]:
pd.read_table('column6_data_quality.out', header = -1).head()

     0    1                            2      3
0  113  INT  offense classification code  VALID
1  101  INT  offense classification code  VALID
2  117  INT  offense classification code  VALID
3  344  INT  offense classification code  VALID
4  344  INT  offense classification code  VALID

Code: ***column6_data_summary.py*** 
This code is used to return a summary of all data.

In [3]:
pd.read_table('column6_data_summary.out', header = -1)

       0        1
0  VALID  5101231

### Column 7 - Offense Description

Code: ***column7_data_quality.py*** 
This code is used to return the data line by line. 
The code checks if the offense description is a valid text object.

In [4]:
pd.read_table('column7_data_quality.out', header = -1).head()

                                 0     1                    2      3
0                          FORGERY  TEXT  offense description  VALID
1  MURDER & NON-NEGL. MANSLAUGHTER  TEXT  offense description  VALID
2                  DANGEROUS DRUGS  TEXT  offense description  VALID
3     ASSAULT 3 & RELATED OFFENSES  TEXT  offense description  VALID
4     ASSAULT 3 & RELATED OFFENSES  TEXT  offense description  VALID

Code: ***column6_data_summary.py*** 
This code is used to return a summary of all data.

In [5]:
pd.read_table('column7_data_summary.out', header = -1)

       0        1
0  VALID  5082391
1    NaN    18840

### Column 8 - Internal Classification Code

Code: ***column8_data_quality.py*** 
This code is used to return the data line by line. 
The code checks if the internal classification code is a three digit integer.

In [6]:
pd.read_table('column8_data_quality.out', header = -1).head()

       0    1                             2      3
0  729.0  INT  internal classification code  VALID
1    NaN  INT  internal classification code    NaN
2  503.0  INT  internal classification code  VALID
3  101.0  INT  internal classification code  VALID
4  101.0  INT  internal classification code  VALID

Code: ***column8_data_summary.py*** 
This code is used to return a summary of all data.

In [7]:
pd.read_table('column8_data_summary.out', header = -1)

       0        1
0  VALID  5096657
1    NaN     4574

### Column 9 - Internal Classification Description

Code: ***column9_data_quality.py*** 
This code is used to return the data line by line. 
The code checks if the internal classification description is a valid text object.

In [8]:
pd.read_table('column9_data_quality.out', header = -1).head()

,0,1,2,3
0,"FORGERY,ETC.,UNCLASSIFIED-FELO",TEXT,internal classification description,VALID
1,NaN,TEXT,internal classification description,NaN
2,"CONTROLLED SUBSTANCE,INTENT TO",TEXT,internal classification description,VALID
3,ASSAULT 3,TEXT,internal classification description,VALID
4,ASSAULT 3,TEXT,internal classification description,VALID

Code: ***column9_data_summary.py*** 
This code is used to return a summary of all data.

In [9]:
pd.read_table('column9_data_summary.out', header = -1)

       0        1
0  VALID  5096657
1    NaN     4574

### Column 10 - Crime Completeness

Code: ***column10_data_quality.py*** 
This code is used to return the data line by line. 
The code checks if the there is only two indicators of 'completed' and 'attempted' representing crime completeness and whether there are mising data in this column.

In [10]:
pd.read_table('column10_data_quality.out', header = -1).head()

           0     1                   2      3
0  COMPLETED  TEXT  crime completeness  VALID
1  COMPLETED  TEXT  crime completeness  VALID
2  COMPLETED  TEXT  crime completeness  VALID
3  COMPLETED  TEXT  crime completeness  VALID
4  COMPLETED  TEXT  crime completeness  VALID

Code: ***column10_data_summary.py*** 
This code is used to return a summary of all data.

In [11]:
pd.read_table('column10_data_summary.out', header = -1)

       0        1
0  VALID  5101224
1    NaN        7

### Column 11 - Offense Level

Code: ***column11_data_quality.py*** 
This code is used to return the data line by line. 
The code checks if the level of offense is only in three categories of 'felony', 'misdemeanor' and 'violation'.

In [12]:
pd.read_table('column11_data_quality.out', header = -1).head()

             0     1              2      3
0       FELONY  TEXT  offense level  VALID
1       FELONY  TEXT  offense level  VALID
2       FELONY  TEXT  offense level  VALID
3  MISDEMEANOR  TEXT  offense level  VALID
4  MISDEMEANOR  TEXT  offense level  VALID

Code: ***column11_data_summary.py*** 
This code is used to return a summary of all data.

In [13]:
pd.read_table('column11_data_summary.out', header = -1)

       0        1
0  VALID  5101231

### Column 12 - Jurisdiction Discription

Code: ***column12_data_quality.py*** 
This code is used to return the data line by line. 
The code checks if the jurisdiction discription is a valid text object.

In [14]:
pd.read_table('column12_data_quality.out', header = -1).head()

                  0     1                         2      3
0  N.Y. POLICE DEPT  TEXT  jurisdiction description  VALID
1  N.Y. POLICE DEPT  TEXT  jurisdiction description  VALID
2  N.Y. POLICE DEPT  TEXT  jurisdiction description  VALID
3  N.Y. POLICE DEPT  TEXT  jurisdiction description  VALID
4  N.Y. POLICE DEPT  TEXT  jurisdiction description  VALID

Code: ***column12_data_summary.py*** 
This code is used to return a summary of all data.

In [15]:
pd.read_table('column12_data_summary.out', header = -1)

       0        1
0  VALID  5101231

### Column 13 - Borough Name

Code: ***column13_data_quality.py*** 
This code is used to return the data line by line. 
The code checks if the borough in which the incident occured is one of the five borough names as 'Bronx', 'Manhattan', 'Brooklyn', 'Queens' and 'Staten island'.

In [16]:
pd.read_table('column13_data_quality.out', header = -1).head()

           0     1             2      3
0      BRONX  TEXT  borough name  VALID
1     QUEENS  TEXT  borough name  VALID
2  MANHATTAN  TEXT  borough name  VALID
3     QUEENS  TEXT  borough name  VALID
4  MANHATTAN  TEXT  borough name  VALID

Code: ***column13_data_summary.py*** 
This code is used to return a summary of all data.

In [17]:
pd.read_table('column13_data_summary.out', header = -1)

       0        1
0  VALID  5100768
1    NaN      463

### Column 14 - Precinct Code

Code: ***column14_data_quality.py*** 
This code is used to return the data line by line. 
The code checks if the precinct code is an integer and is valid compared to the full list of precinct codes of NYPD (http://www.nyc.gov/html/nypd/html/home/precincts.shtml).

In [18]:
pd.read_table('column14_data_quality.out', header = -1).head()

       0    1              2      3
0   44.0  INT  precinct code  VALID
1  103.0  INT  precinct code  VALID
2   28.0  INT  precinct code  VALID
3  105.0  INT  precinct code  VALID
4   13.0  INT  precinct code  VALID

Code: ***column14_data_summary.py*** 
This code is used to return a summary of all data.

In [19]:
pd.read_table('column14_data_summary.out', header = -1)

       0        1
0  VALID  5100841
1    NaN      390

### Column 15 - Premises Description

Code: ***column15_data_quality.py*** 
This code is used to return the data line by line. 
The code checks if the premises description is a valid text object.

In [20]:
pd.read_table('column15_data_quality.out', header = -1).head()

          0     1                    2      3
0    INSIDE  TEXT  occurrence location  VALID
1   OUTSIDE  TEXT  occurrence location  VALID
2       NaN  TEXT  occurrence location    NaN
3    INSIDE  TEXT  occurrence location  VALID
4  FRONT OF  TEXT  occurrence location  VALID

Code: ***column15_data_summary.py*** 
This code is used to return a summary of all data.

In [21]:
pd.read_table('column15_data_summary.out', header = -1)

       0        1
0  VALID  3973890
1    NaN  1127341

### Column 16 - Occurrence Location Description

Code: ***column16_data_quality.py*** 
This code is used to return the data line by line. 
The code checks if the location description of occurrence is a valid text object as one of the location in 'inside', 'outside', 'opposite of', 'front of', 'rear of'.

In [22]:
pd.read_table('column16_data_quality.out', header = -1).head()

                 0     1                     2      3
0   BAR/NIGHT CLUB  TEXT  premises description  VALID
1              NaN  TEXT  premises description    NaN
2            OTHER  TEXT  premises description  VALID
3  RESIDENCE-HOUSE  TEXT  premises description  VALID
4            OTHER  TEXT  premises description  VALID

Code: ***column16_data_summary.py*** 
This code is used to return a summary of all data.

In [23]:
pd.read_table('column16_data_summary.out', header = -1)

       0        1
0  VALID  5067952
1    NaN    33279

### Column 17 - Park Names

Code: ***column17_data_quality.py*** 
This code is used to return the data line by line. 
The code checks if the park name is a valid name of an NYC public park, playground or greenspace (https://www.nycgovparks.org/park-features/parks-list?boro=X).

In [24]:
pd.read_table('column17_data_quality.out', header = -1).head()

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     0     1           2    3
0  NaN  TEXT  park names  NaN
1  NaN  TEXT  park names  NaN
2  NaN  TEXT  park names  NaN
3  NaN  TEXT  park names  NaN
4  NaN  TEXT  park names  NaN

Code: ***column17_data_summary.py*** 
This code is used to return a summary of all data.

In [25]:
pd.read_table('column17_data_summary.out', header = -1)

       0        1
0  VALID     7599
1    NaN  5093632

### Column 18 - NYCHA Housing Developtment Names

Code: ***column18_data_quality.py*** 
This code is used to return the data line by line. 
The code checks if the NYCHA Housing Developtment name is a valid name compared to the full list at http://www1.nyc.gov/site/nycha/about/developments.page.

In [26]:
pd.read_table('column18_data_quality.out', header = -1).head()

     0     1              2    3
0  NaN  TEXT  housing names  NaN
1  NaN  TEXT  housing names  NaN
2  NaN  TEXT  housing names  NaN
3  NaN  TEXT  housing names  NaN
4  NaN  TEXT  housing names  NaN

Code: ***column18_data_summary.py*** 
This code is used to return a summary of all data.

In [27]:
pd.read_table('column18_data_summary.out', header = -1)

       0        1
0  VALID   253205
1    NaN  4848026

## Some Data Quality Issues

### Column 17 - Park Names

Run the code ***column17_data_quality_issue.py***.

We found the list of NYC park names from the website (https://www.nycgovparks.org/park-features/parks-list?boro=X) and compared our data in this column to the list (we put it in 'parks_nm.txt'). We treat those names not in this list as 'INVALID' and print them out in the 'column17_data_quality_issue.out' file.

In [28]:
pd.read_table('column17_data_quality_issue.out', header=-1).head(10)

                                                   0   1
0                                  RAINEY PARK BRONX  38
1                     UNNAMED PARK ON E 164TH STREET   1
2  UNNAMED PARK ON BRUCKNER EXPRESSWAY WEST OF MO...   5
3                                        EAGLE SLOPE   1
4                     UNNAMED PARK ON E 120TH STREET   3
5                     UNNAMED PARK ON E 122ND STREET   1
6                     UNNAMED PARK ON E 177TH STREET   2
7                                    CORONA MAC PARK   3
8                         WHITE PLAYGROUND MANHATTAN   3
9  CLASSON PLAYGROUND AT CLASSON AVENUE & LAFAYET...   3

Put those 'invalid' names into a txt file:

In [29]:
with open('column17_data_quality_issue.out','r') as f:
    file = open('column17_data_quality_issue.txt','w')
    for line in f:
        file.write(line)
    file.close()

After comparing the two files 'column17_data_quality_issue.txt' and 'parks_nm.txt' we can find that some park names in column17 which are not in 'parks_nm.txt' are actually not invalid but due to some difference in the naming methods. For example 'White Playground Manhattan' in column17 is actually that of 'White Playground' in 'parks_nm.txt', which are essentially the same park. But here we will treat it as invalid. This is a data quality issue that we should look further into. We will manually correct the name list in Part II.

### Column 18 - NYCHA Housing Developtment Names

Run the code ***column18_data_quality_issue.py***.

We found the list of NYCHA housing developtment names from the website (http://www1.nyc.gov/site/nycha/about/developments.page) and compared our data in this column to the list (we put it in 'hadevelopt.txt'). We treat those names not in this list as 'INVALID' and print them out in the 'column18_data_quality_issue.out' file.

In [30]:
pd.read_table('column18_data_quality_issue.out', header=-1).head(10)

                                       0     1
0                 BAYSIDE-OCEAN BAY APTS  1256
1         UNION AVENUE-EAST 163RD STREET   132
2                        SARATOGA SQUARE   137
3                   MILL BROOK EXTENSION   457
4                         UPACA (SITE 6)   113
5                  33-35 SARATOGA AVENUE   365
6            SOUTH BRONX AREA (SITE 402)   281
7                 BARUCH HOUSES ADDITION   120
8          EAST 173RD STREET-VYSE AVENUE   459
9  WASHINGTON HEIGHTS REHAB (GROUPS 1&2)     5

Put those 'invalid' names into a txt file:

In [31]:
with open('column18_data_quality_issue.out','r') as f:
    file = open('column18_data_quality_issue.txt','w')
    for line in f:
        file.write(line)
    file.close()

After comparing the two files 'column18_data_quality_issue.txt' and 'hadevelopt.txt' we can find that some park names in column18 which are not in 'parks_nm.txt' are actually not invalid but due to some difference in the naming methods. For example '33-35 SARATOGA AVENUE' in column18 is actually that of 'Saratoga Village' in 'hadevelopt.txt', which are probably the same place. But here we will treat it as invalid. This is a data quality issue that we should look further into. We will manually correct the name list in Part II.

### Column 6-7 - Offense Classification Code & Description

Run the code ***column6_7_quality_issue.py***.

This code intends to check if offense classification code in column6 and offense classification description in column7 correctly one to one correspondent (i.e. one code in column6 corresponds to one description in column7.)

In [32]:
df = pd.read_table('column6_7_quality_issue.out', header=-1)
df.head(20)

      0                                1       2
0   101  MURDER & NON-NEGL. MANSLAUGHTER    4574
1   102       HOMICIDE-NEGLIGENT-VEHICLE      93
2   103   HOMICIDE-NEGLIGENT,UNCLASSIFIE      33
3   104                             RAPE   13791
4   105                              NaN       2
5   105                          ROBBERY  198772
6   106                              NaN      55
7   106                   FELONY ASSAULT  184069
8   107                              NaN       1
9   107                         BURGLARY  191406
10  109                              NaN       9
11  109                    GRAND LARCENY  429196
12  110   GRAND LARCENY OF MOTOR VEHICLE  102061
13  111                              NaN       1
14  111    POSSESSION OF STOLEN PROPERTY    9112
15  112                              NaN       6
16  112                      THEFT-FRAUD   56762
17  113                              NaN       1
18  113                          FORGERY   49303
19  114                            ARSON   13984

From 'column6_7_quality_issue.out' we can find out that for some classification codes in column6 there are two or more corresponding descriptions in column7. Print out those indices where there are multiple correspondence between the two columns.

In [33]:
df = pd.read_table('column6_7_quality_issue.out', header=-1)
from collections import Counter
print([k for k,v in Counter(df[0]).items() if v>1])

[107, 358, 364, 109, 359, 677, 678, 113, 125, 365, 117, 360, 578, 366, 361, 675, 340, 341, 343, 344, 345, 347, 348, 350, 351, 352, 355, 356, 230, 232, 233, 235, 236, 237, 111, 112, 116, 106, 105, 120, 121, 124, 126]

Here are some examples of comparison between the two columns.

In [34]:
df[df[0]==107]

     0         1       2
8  107       NaN       1
9  107  BURGLARY  191406

In [35]:
df[df[0]==364]

       0                                     1     2
97   364                                   NaN   402
98   364  AGRICULTURE & MRKTS LAW-UNCLASSIFIED    83
99   364        OTHER STATE LAWS (NON PENAL LA  5505
100  364      OTHER STATE LAWS (NON PENAL LAW)     4

In [36]:
df[df[0]==343]

      0                               1     2
61  343                             NaN     2
62  343  OTHER OFFENSES RELATED TO THEF  9731
63  343               THEFT OF SERVICES  2778

We can find that some of the descriptions in column7 are 'NaN' which could be missing data where there's still codes in column6. Some of the codes in column6 corresponds to more than two descriptions in column7 which could be mistakes in typing or sub-classes etc. This is a quality issue we should look further into. We will probably compare to other data set from the internet in Part II. (We have put the output data in 'column6_7_quality_issue.txt'.)

In [37]:
with open('column6_7_quality_issue.out','r') as f:
    file = open('column6_7_quality_issue.txt','w')
    for line in f:
        file.write(line)
    file.close()

### Column 8-9 - Internal Classification Code & Description

Run the code ***column8_9_quality_issue.py***.

This code intends to check if offense classification code in column8 and offense classification description in column9 correctly one to one correspondent (i.e. one code in column8 corresponds to one description in column9.)

In [38]:
df = pd.read_table('column8_9_quality_issue.out', header=-1)
df.head(20)

        0                                      1       2
0     NaN                                    NaN    4574
1   101.0                              ASSAULT 3  438130
2   104.0         VEHICULAR ASSAULT (INTOX DRIVE     220
3   105.0                      STRANGULATION 1ST   11648
4   106.0              ASSAULT 2,1,PEACE OFFICER   18376
5   107.0  END WELFARE VULNERABLE ELDERLY PERSON      51
6   109.0               ASSAULT 2,1,UNCLASSIFIED  154046
7   110.0         MENACING 1ST DEGREE (VICT PEAC     786
8   111.0                 MENACING,PEACE OFFICER     863
9   112.0          MENACING 1ST DEGREE (VICT NOT     704
10  113.0                  MENACING,UNCLASSIFIED   70185
11  114.0                    OBSTR BREATH/CIRCUL   12369
12  115.0                RECKLESS ENDANGERMENT 2    9660
13  117.0                RECKLESS ENDANGERMENT 1   17842
14  119.0              PROMOTING SUICIDE ATTEMPT       3
15  121.0             HOMICIDE,NEGLIGENT,VEHICLE      15
16  122.0          HOMICIDE, NEGLIGENT, VEHICLE,      78
17  125.0         HOMICIDE,NEGLIGENT,UNCLASSIFIE      33
18  143.0                             ABORTION 1       4
19  146.0                    ABORTION 2, 1, SELF       1

In [39]:
df = pd.read_table('column8_9_quality_issue.out', header=-1)
from collections import Counter
[k for k,v in Counter(df[0]).items() if v>1]

[]

From 'column8_9_quality_issue.out' we can find out that these two columns are actually one to one correspondent between each other and there's no multiple correspondence issue that we need to look further into. (We have put the output data in 'column8_9_quality_issue.txt'.)

In [40]:
with open('column8_9_quality_issue.out','r') as f:
    file = open('column8_9_quality_issue.txt','w')
    for line in f:
        file.write(line)
    file.close()