In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

%matplotlib inline

**Authors:**   
Wenjie Sun (ws854)  
Xinyan Yang (xy975)  
Yaohan Ke (yk1587)

**Google Docs:**   
https://docs.google.com/a/nyu.edu/document/d/1Ucm_P7rkLDR4e1tl-qNADEEZ95wo1cWLxQVGxNa_RwQ/edit?usp=sharing  

**Github:**  
https://github.com/sherylke/ds1004project

## Data Quality

### Column 0 - Compliant Number

Code: ***column0_data_quality.py*** 
This code is used to return the data line by line. 
The code checks if the compliant number is an integer and if it is a unique value in the whole dataset.

In [2]:
pd.read_table('column0_data_quality.out', header = -1).head()

           0        1                          2      3
0  713796694  INTEGER  A unique compliant number  VALID
1  905281044  INTEGER  A unique compliant number  VALID
2  123688898  INTEGER  A unique compliant number  VALID
3  540746868  INTEGER  A unique compliant number  VALID
4  450573265  INTEGER  A unique compliant number  VALID

Code: ***column0_data_summary.py*** 
This code is used to return a summary of all data.

In [3]:
pd.read_table('column0_data_summary.out')

Empty DataFrame
Columns: [VALID, 5101231]
Index: []

However, code:**column0_data_quality.py** and **column0_data_summary.py** require a large physical memory. The reason is in the code, I ran count of each value, which then be leftjoined by the value self. I am using this code to make sure each of value is unique (count = 1). However, it seems that these 2 codes don't always work, depending on the hadoop capacity.   
Since I have already checked that this column has all unique value (which is qualified for being a primiary key), I uploaded a v2 code that doesn't check uniqueness of each value. Instead, v2 only checks if a value is integer.

In [4]:
pd.read_table('column0_data_quality_v2.out', header = -1).head()

           0        1                          2      3
0  101109527  INTEGER  A unique compliant number  VALID
1  153401121  INTEGER  A unique compliant number  VALID
2  569369778  INTEGER  A unique compliant number  VALID
3  968417082  INTEGER  A unique compliant number  VALID
4  641637920  INTEGER  A unique compliant number  VALID

In [5]:
pd.read_table('column0_data_summary_v2.out')

Empty DataFrame
Columns: [VALID, 5101231]
Index: []

### Column 1 - Compliant From Date

Code: ***column1_data_quality.py*** 
This code is used to return the data line by line. The code checks if the date is legal and if the cmplnt_from date time is smaller than cmplnt_to date time.

In [6]:
pd.read_table('column1_data_quality.out', header = -1).head()

            0     1                    2      3
0  12/31/2015  DATE  Compliant from date  VALID
1  12/31/2015  DATE  Compliant from date  VALID
2  12/31/2015  DATE  Compliant from date  VALID
3  12/31/2015  DATE  Compliant from date  VALID
4  12/31/2015  DATE  Compliant from date  VALID

Code: ***column1_data_summary.py*** 
This code is used to return a summary of all data. Most data has a valid date, a small percent is missing some date, and 4 invalid date

In [7]:
pd.read_table('column1_data_summary.out',header=-1)

         0        1
0  INVALID        4
1    VALID  5100572
2      NaN      655

Code: ***column1_invalid_data.py*** 
This code is used to return all 4 lines that are invalid because to_datetime is earlier than from_datetime.

In [8]:
pd.read_table('column1_invalid_data.out',header=-1)

                                                   0        1
0  ['06/22/2014', '23:00:00', '06/22/2014', '00:0...  INVALID
1  ['11/11/2010', '07:00:00', '11/10/2010', '18:0...  INVALID
2  ['11/15/2009', '10:00:00', '11/14/2009', '12:0...  INVALID
3  ['05/19/2006', '16:00:00', '05/14/2006', '14:0...  INVALID

### Column 2 - Compliant From Time

Code: ***column2_data_quality.py*** This code is used to return the data line by line. The code checks if the time is legal and if the cmplnt_from date time is smaller than cmplnt_to date time.

In [9]:
pd.read_table('column2_data_quality.out', header = -1).head()

          0     1                    2      3
0  23:45:00  TIME  Compliant from time  VALID
1  23:36:00  TIME  Compliant from time  VALID
2  23:30:00  TIME  Compliant from time  VALID
3  23:30:00  TIME  Compliant from time  VALID
4  23:25:00  TIME  Compliant from time  VALID

Code: ***column2_data_summary.py*** 
This code is used to return a summary of all data. There are many invalid data in this column.

In [10]:
pd.read_table('column2_data_summary.out',header=-1)

         0        1
0  INVALID      907
1    VALID  5100276
2      NaN       48

Code: ***column2_invalid_data.py*** 
Most of the invalid data is due to a time format ("24:00:00") is not accepted in Python. This will be corrected by "23:59:59" in the future data analysis.

In [11]:
pd.read_table('column2_invalid_data.out',header=-1).head()

                                                   0        1
0  ['06/22/2014', '23:00:00', '06/22/2014', '00:0...  INVALID
1  ['11/11/2010', '07:00:00', '11/10/2010', '18:0...  INVALID
2  ['11/15/2009', '10:00:00', '11/14/2009', '12:0...  INVALID
3  ['08/31/2009', '24:00:00', '09/01/2009', '08:4...  INVALID
4                 ['08/31/2009', '24:00:00', '', '']  INVALID

### Column 3 - Compliant To Date

Code: ***column3_data_quality.py*** This code is used to return the data line by line. The code checks if the date is legal and if the cmplnt_from date time is smaller than cmplnt_to date time.

In [12]:
pd.read_table('column3_data_quality.out', header = -1).head()

            0     1                  2      3
0         NaN  DATE  Compliant to date    NaN
1         NaN  DATE  Compliant to date    NaN
2         NaN  DATE  Compliant to date    NaN
3         NaN  DATE  Compliant to date    NaN
4  12/31/2015  DATE  Compliant to date  VALID

Code: ***column3_data_summary.py*** 
This code is used to return a summary of all data. Since to_date is not required, there are many NULL data

In [13]:
pd.read_table('column3_data_summary.out',header=-1)

         0        1
0  INVALID        4
1    VALID  3709749
2      NaN  1391478

Code: ***column3_invalid_data.py*** 
These 4 invalid data is becasue of from datetime is later than to datetime

In [14]:
pd.read_table('column3_invalid_data.out',header=-1)

                                                   0        1
0  ['06/22/2014', '23:00:00', '06/22/2014', '00:0...  INVALID
1  ['11/11/2010', '07:00:00', '11/10/2010', '18:0...  INVALID
2  ['11/15/2009', '10:00:00', '11/14/2009', '12:0...  INVALID
3  ['05/19/2006', '16:00:00', '05/14/2006', '14:0...  INVALID

### Column 4 - Compliant To Time

Code: ***column4_data_quality.py*** This code is used to return the data line by line. The code checks if the time is legal and if the cmplnt_from date time is smaller than cmplnt_to date time.

In [15]:
pd.read_table('column4_data_quality.out', header = -1).head()

          0     1                  2      3
0       NaN  TIME  Compliant to time    NaN
1       NaN  TIME  Compliant to time    NaN
2       NaN  TIME  Compliant to time    NaN
3       NaN  TIME  Compliant to time    NaN
4  23:30:00  TIME  Compliant to time  VALID

Code: ***column4_data_summary.py*** 
This code is used to return a summary of all data. Since to_date is not required, there are many NULL data. Invalid data is still because of "24:00:00".

In [16]:
pd.read_table('column4_data_summary.out',header=-1)

         0        1
0  INVALID     1380
1    VALID  3712066
2      NaN  1387785

Code: ***column4_invalid_data.py*** 
These 4 invalid data is becasue of from datetime is later than to datetime

In [17]:
pd.read_table('column4_invalid_data.out',header=-1).head()

                                                   0        1
0  ['06/22/2014', '23:00:00', '06/22/2014', '00:0...  INVALID
1  ['11/11/2010', '07:00:00', '11/10/2010', '18:0...  INVALID
2  ['11/15/2009', '10:00:00', '11/14/2009', '12:0...  INVALID
3  ['08/31/2009', '23:55:00', '08/31/2009', '24:0...  INVALID
4  ['08/30/2009', '06:30:00', '08/31/2009', '24:0...  INVALID

### Column 5 - Report Date

Code: ***column5_data_quality.py*** This code is used to return the data line by line. The code checks if the date is legal and also is between 2006 and 2015 (since the report is noted that the time range is based on the report time)

In [18]:
pd.read_table('column5_data_quality.out', header = -1).head()

            0     1            2      3
0  12/31/2015  Date  Report Date  VALID
1  12/31/2015  Date  Report Date  VALID
2  12/31/2015  Date  Report Date  VALID
3  12/31/2015  Date  Report Date  VALID
4  12/31/2015  Date  Report Date  VALID

Code: ***column5_data_summary.py*** 
This code is used to return a summary of all data. All the data falls in the valid time range.

In [19]:
pd.read_table('column5_data_summary.out',header=-1)

       0        1
0  VALID  5101231

Looking at the stacked the line chart, the decreasing trend is not very clear. After plotting the trend borough by borough, it is more clear that broklyn contributes the most to the decrease, followed by manhattan.